.backG{
	width: 100%;
	height: 700px;
	background: black;
}


.backG>.k1{
position: relative;	
left: 10px;
top: 19px;

}
.backG>2{
	
}
.backG>3{
	
}
.backG>4{
	
}
.backG>5{
	
}




.backG>img {
	position: relative;
    -webkit-animation: myrain 2s; 
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: infinite;
}


@keyframes myrain {
    from {top: -1000px;}


    to {top: 700px; }
}

